
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>Pick Games For Week </title>
    </head>
    <body>
        <div class="body">
        	<%= render "shared/navBar", type: "game"%>
            
        </div>
    </body>
</html>
